<html>
  <head>
    <title>Oops... from <%= fqdn %></title>
  </head>
  <body>
    <img src="http://1.bp.blogspot.com/_i-xZr3AAqxw/TQpu4Cq_PqI/AAAAAAAABFQ/JWV8_hUULGU/s1600/404.jpg" />
  </body>
</html>